{% extends 'base.html' %}

{% block title%}
<title>Гарантии</title>
{% endblock %}

{% block content %}

<h1 style="margin-bottom: 20px;">Гарантии</h1>
<div class="shadow p-3 mb-5 bg-white rounded">
    <center>
        <h5 style="margin: 20px 0 50px 0;">Мы гарантируем качественный и надежный сервис. Покупать у нас не только
            выгодно, но и безопасно.</h5>
    </center>
    <div class="row">
        <div class="col">
            <img src="{{url_for('static', filename='img/guarantees1.png')}}" style="position: absolute;">
            <div class="card" style="max-width: 540px; margin-left: 50px; border: none;">
                <div class="card-body" style="padding-top: 0;">
                    <h5 class="card-title">Реклама в надежных ресурсах</h5>
                    <p class="card-text">Наш магазин привлекает клиентов за счет рекламы на крупных игровых порталах,
                        видеохостинге YouTube, каналах Twitch. А так же за счет контекстной рекламы в поисковых
                        системах, таких как Yandex и Google.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <img src="{{url_for('static', filename='img/guarantees2.png')}}" style="position: absolute;">
            <div class="card" style="max-width: 540px; margin-left: 50px; border: none;">
                <div class="card-body" style="padding-top: 0;">
                    <h5 class="card-title">Гарантия на все товары</h5>
                    <p class="card-text">Ключи закупаются у официальных дилеров компаний 1С, Electronic Arts, Бука,
                        Новый диск и других. Гарантия на ключи, распространяется на весь срок отведенный разработчиком.
                        Гарантия на аккаунты, действует в течении 1 года с момента покупки.

                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}