{% extends 'base.html' %}

{% block content %}
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{{url_for('static', filename='img/slider_photo_1.png')}}" class="d-block w-100">
    </div>
    <div class="carousel-item">
      <img src="{{url_for('static', filename='img/slider_photo_2.png')}}" class="d-block w-100">
    </div>
  </div>
</div>

<h1 style="margin: 25px 0px;">Топ продаж</h1>


<div class="row">
    {% for i in range(count) %}
    <div class="col-md-3">
        <div class="card" style="margin-bottom: 20px;">
            <img src="{{url_for('static', filename='img/products/' + product[i].img_1)}}" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">{{product[i].price}} РУБ</h5>
                <a href="{{url_for('product', id=product[i].id)}}" class="btn btn-primary btn-sm">Подробнее</a>
                <form action="{{url_for('add_cart')}}" method="post">
                    <input type="hidden" name="product_id" value="{{product[i].id}}">
                    <button type="submit" class="btn btn-sm btn-warning mt-1">Добавить в корзину</button>
                    <input type="hidden" name="quantity" value="1" min="1" max="{{product[i].stock}}">
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}
