{% extends 'base.html' %}

{% block title%}
<title>Войти</title>
{% endblock %}

{% block content %}

<div class="shadow p-3 mb-5 bg-white rounded">
    <h1>Войти</h1>
    <form method="POST">
        {{ form.hidden_tag() }}

        {{ form.email.label(class="form-label") }}
        {{ form.email(class="form-control") }}

        {{ form.password_hash.label(class="form-label") }}
        {{ form.password_hash(class="form-control") }}

        <br>
        {{ form.submit(class="btn btn-secondary") }}
    </form>
</div>

{% endblock %}