{% extends 'base.html' %}

{% block title%}
<title>{{product.name}}</title>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-lg-3 col-md-4 align-self-start shadow p-3 mb-3 bg-white">
    <center>
        <img src="{{url_for('static', filename='img/products/' + product.img_1)}}" alt="{{product.name}}" width="200">
        <br><br>
        <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal-2">
            <img src="{{url_for('static', filename='img/products/' + product.img_2)}}" alt="{{product.name}}"
                 width="100"></a>
        <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal-3">
            <img src="{{url_for('static', filename='img/products/' + product.img_3)}}" alt="{{product.name}}"
                 width="100"></a>
        <br><br>
        <form action="{{url_for('add_cart')}}" method="post">
            <input type="hidden" name="product_id" value="{{product.id}}">
            <button type="submit" class="btn btn-lg btn-warning">Добавить в корзину</button><br><br>
            <label>Количество:</label>
            <input type="number" name="quantity" value="1" min="1" max="{{product.stock}}">
        </form>
    </center>
    </div>
    <div class="col-lg-8 col-md-7 offset-md-1 align-self-start shadow p-3 mb-3 bg-white">
        <h4>{{product.name}}</h4>
        <h5>{{product.price}} РУБ</h5>
        <b>Описание</b>
        <p>{{product.description | safe}}</p>
    </div>
</div>

<!-- Модальное окно -->
<div class="modal fade" id="exampleModal-2" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <center>
                    <img class="modal_img" src="{{url_for('static', filename='img/products/' + product.img_2)}}" alt="{{product.name}}">
                </center>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal-3" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <center>
                    <img class="modal_img" src="{{url_for('static', filename='img/products/' + product.img_3)}}" alt="{{product.name}}">
                </center>
            </div>
        </div>
    </div>
</div>


{% endblock %}