{% extends 'base.html' %}

{% block title%}
<title>Регистрация</title>
{% endblock %}

{% block content %}

<div class="shadow p-3 mb-5 bg-white rounded">
    <h1>Регистрация</h1>
    <form method="POST">
        {{ form.hidden_tag() }}

        {{ form.name.label(class="form-label") }}
        {{ form.name(class="form-control") }}

        {{ form.email.label(class="form-label") }}
        {{ form.email(class="form-control") }}

        {{ form.password_hash.label(class="form-label") }}
        {{ form.password_hash(class="form-control") }}

        {{ form.password_hash2.label(class="form-label") }}
        {{ form.password_hash2(class="form-control") }}
        <br>
        {{ form.submit(class="btn btn-secondary") }}
    </form>
</div>

{% endblock %}