{% extends 'base.html' %}

{% block title%}
<title>Поиск</title>
{% endblock %}

{% block content %}

<div class="row">
    {% for product in products %}
    <div class="col-3 mb-3">
        <div class="card" style="width: 14rem;">
            <img src="{{url_for('static', filename='img/products/' + product.img_1)}}" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">{{product.price}} РУБ</h5>
                <a href="{{url_for('product', id=product.id)}}" class="btn btn-primary btn-sm">Подробнее</a>
                <form action="{{url_for('add_cart')}}" method="post">
                    <input type="hidden" name="product_id" value="{{product.id}}">
                    <button type="submit" class="btn btn-sm btn-warning mt-1">Добавить в корзину</button>
                    <input type="hidden" name="quantity" value="1" min="1" max="{{product.stock}}">
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}